// @font-face {
//   font-family: 'Kroppen-Light';
//   src: url('./fonts/Kroppen/Talbot Type - KroppenRound-Light.otf') format('opentype');
//   font-weight: normal;
//   font-style: normal;
// }
@font-face {
  font-family: 'Formular';
  src: url('./fonts/Formular.woff2') format('woff2'),
      url('./fonts/Formular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Formular Mono';
  src: url('./fonts/FormularMono.woff2') format('woff2'),
      url('./fonts/FormularMono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Formular';
  src: url('./fonts/Formular-Light.woff2') format('woff2'),
      url('./fonts/Formular-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

